@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --siteBackgroundColor: #e5e5e5;
    --blackColor: #000;
    --whiteColor: #fff;
    --contactColor: #757575;
    --secondaryPageColor: #212121;
    --mainPageColor: #2196f3;
    --footerContactColor: rgba(255, 255, 255, 0.6);
    --bannerBackgroundColor: #2f303a;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--siteBackgroundColor);
    color: var(--secondaryPageColor);
}

.no-decoration a {
    text-decoration: none;
    font-style: normal;
}

.no-list-style li {
    list-style-type: none;
}

.link-select a:hover,
.link-select ul li a:hover,
.link-select ul li a:focus {
    color: var(--mainPageColor);
}

.menu-navigation a {
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--secondaryPageColor);
}

.menu-contact a{
    color: var(--contactColor);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--blackColor);
}

.logo span {
    color: var(--mainPageColor);
}

.logo-footer {
    color: var(--whiteColor);
}

.footer-navigation a{
    color: var(--footerContactColor);
}

.footer-navigation li:first-child a {
    color: var(--whiteColor);
}

.banner-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--whiteColor);
}

.banner-button {
    color: var(--whiteColor);
    background: var(--mainPageColor);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    cursor: pointer;
}