@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --siteBackgroundColor: #e5e5e5;
    --blackColor: #000;
    --whiteColor: #fff;
    --contactColor: #757575;
    --secondaryPageColor: #212121;
    --mainPageColor: #2196f3;
    --footerContactColor: rgba(255, 255, 255, 0.6);
    --banerBackgroundColor: #2f303a;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: var(--siteBackgroundColor);
    color: var(--secondaryPageColor);
}

.menu-navigation a,
.menu-navigation li {
    text-decoration: none;
    list-style-type: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.menu a {
    color: var(--secondaryPageColor);
}

.menu-contact a,
.menu-contact li {
    color: var(--contactColor);
    text-decoration: none;
    list-style-type: none;
}

.menu a:hover {
    color: var(--mainPageColor);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--blackColor);
}

.logo span {
    color: var(--mainPageColor);
}

.footer a,
.footer li {
    text-decoration: none;
    list-style-type: none;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--footerContactColor);
}

.footer-address {
    color: var(--whiteColor);
}

.banner {
    width: 600px;
    background-color: var(--banerBackgroundColor);
}

.banner-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--whiteColor);
}

.banner-button {
    color: var(--whiteColor);
    background: var(--mainPageColor);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
}

.description li {
    list-style-type: none;
}

.description-title {
    display: none;
}

.description-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.description-content {
    color: var(--contactColor);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    width: 270px;
}

.about_us li {
    list-style-type: none;
}

.about_us-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.crew li {
    list-style-type: none;
}

.crew-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.crew-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.crew-position {
    color: var(--contactColor);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
